<%= simple_form_for(@hardware_category,:remote => true, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="modal-body">
    <%= f.input :name %>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
