<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hardware_category.name %>
</p>


<%= link_to 'Edit', edit_hardware_category_path(@hardware_category) %> |
<%= link_to 'Back', hardware_categories_path %>
