<h1>Process Categories</h1>

<%= link_to 'New Process     Category', "/part_process_categories/new?no_layout=1", :class => 'btn btn-primary pull-right mbxx mrx modal-trigger'%>


<table class="table table-bordered">
  <thead>
  <tr>
    <th>Process Category Name</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @part_process_categories.each do |part_process_category| %>
      <tr>
        <td class="editable large3" data-headers="/part_process_categories/update_part_process_category"  id="name-<%= part_process_category.id %>"><%= part_process_category.name %></td>
        <td class="actions">
          <%= link_to part_process_category, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger', :title => 'Delete' do%>
              <i class="icon-trash" alt="delete"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>