<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @part_process_category.name %>
</p>


<%= link_to 'Edit', edit_part_process_category_path(@part_process_category) %> |
<%= link_to 'Back', part_process_categories_path %>
