<div class="nested-fields">
  <%= f.association :hardware, :collection => Hardware.order(:name).all, :label=>false,
      :input_html => {:"data-placeholder" => "Choose hardware", :class => "parts-hardware"} %>

  <%= f.input :quantity,:label => false, :input_html => {:class => "input-small pull-left"} %>
  <%= link_to_remove_association "Remove", f, :class => "btn" %>
</div>

