<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th>P/O #</th>
      <th>Client</th>
      <th>Part #</th>
      <th>Qty</th>
      <th>Ship Date</th>
      <th>Dock Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'order_lines/order_line_simple',
      :collection => client.order_lines.not_shipped.order("due_date asc"),
      :as => 'order_line',
      :locals => {:hardware => nil , :view => 'client'} %>
  </tbody>
</table>
