/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require custom-theme/jquery-ui-1.8.16.custom
 *= require_tree .
 */


table th.actions,
table td.actions {
    text-align: right;
    width:20%;
}

.nm {margin:0 !important;}
.mxn {margin:0 -10px !important;}
.mxna {margin:-11px !important;}
.mts { margin-top: 5px !important; }
.mtx { margin-top: 10px !important; }
.mtxx { margin-top: 20px !important; }
.mls { margin-left: 5px !important; }
.mlx { margin-left: 10px !important; }
.mlxx { margin-left: 20px !important; }
.mlxxx { margin-left: 30px !important; }
.mlxc { margin-left: 90px !important; }
.mlxx { margin-left: 20px !important; }
.mbs { margin-bottom: 5px !important; }
.mbx { margin-bottom: 10px !important; }
.mbxx { margin-bottom: 20px !important; }
.mbxxx { margin-bottom: 30px !important; }
.mrs { margin-right: 5px !important; }
.mrx { margin-right: 10px !important; }
.mrxx { margin-right: 20px !important; }
.nmt { margin-top: 0 !important; }
.nml { margin-left: 0 !important; }
.nmb { margin-bottom: 0 !important; }
.nmr { margin-right: 0 !important; }
.ml30 { margin-left:30px !important;}
.ml15 { margin-left:15px !important;}
.ml175 { margin-left:175px !important;}
.ml335 { margin-left:335px !important;}
.ml345 { margin-left:345px !important;}
.stretch {padding-bottom:1000px !important;margin-bottom:-1000px !important;}
.mtbx { margin: 10px 0 !important }
.m0a { margin: 0 auto !important; }

.px  {padding:10px !important;}
.pxx  {padding:20px !important;}
.plx {padding-left:10px !important;}
.plxx {padding-left:20px !important;}
.prx {padding-right:10px !important;}
.prxx {padding-right:20px !important;}
.ptx {padding-top:10px !important;}
.pbx {padding-bottom:10px !important;}
.pbxx {padding-bottom:20px !important;}

.ps  {padding:5px !important;}
.np  {padding:0px !important;}
.pls {padding-left:5px !important;}
.prs {padding-right:5px !important;}
.pts {padding-top:5px !important;}
.pbs {padding-bottom:5px !important;}
.npt { padding-top: 0 !important; }
.npb { padding-bottom: 0 !important; }
.npl { padding-left: 0 !important; }

.no-bold {font-weight: normal;}

#modal-container form {margin-bottom:0px;}
.modal .spinner {
    padding:20px 140px;
    margin: 20px 0 0 0;
}

.table td.order-line-info {
    border-top:0;
}

.table tr .status.btn {background-image: none; color:#fff;}

.table td.actions.completed .status.btn { background-color: #51A351; }
.table td.actions.in-progress .status.btn  { background-color: #2F96B4;  }
.table td.actions.pending .status.btn  { background-color: #F89406; }
.table td.actions.shipped .status.btn  { background-color: #414141;  }

.table tr.green td {background-color: #CCFEBF;}
.table tr.red td {background-color: #FE8080;}



table .order-line-info .span6 {float:left;}
table .order-line-info .span3 {float:left;}
table .order-line-info .span5 {float:left;}
table .order-line-info .span5.middle {margin:0 25px;}



.order-search .control-group
{
    float:left;
}
.part-hardware .control-group .controls,
.order-search .control-group .controls {
    margin-left:0;
    margin-right: 5px;
    width:155px;
}
.part-hardware .control-group .controls select,
.order-search .control-group .controls select {width: 155px;}

.product-attachment {
    margin-left: 160px;
    margin-bottom: 18px;
    float: left;
    display: block;
    width: 100%;
    margin-top: -17px;
}

.table td.editable {cursor:pointer;}

.table td.editable.large textarea {width:300px; height:50px;}
.table td.editable.large {width:33%}

.table td.editable.large2 textarea {width:250px; height:50px;}
.table td.editable.large2 {width:25%}

.table td.editable.large3 textarea {width:450px; height:50px;}
.table td.editable.large3 {width:45%}

.table td.editable.medium textarea {width:190px; height:50px;}
.table td.editable.medium {width:220px}

.table td.editable.comment textarea {width:150px; height:50px;}
.table td.editable.comment {width:170px;}

.table td.editable.qty input {width:30px;}
.table td.editable.qty {width:45px;}

.table td.actions {width:115px;}
.table td.actions.small {width:70px;}

/*order lines */
.form-horizontal #order_lines td {vertical-align: top; padding-right:10px;}
.form-horizontal #order_lines .control-group > label {
    border:1px solid green;
    width:auto;
    margin-right:5px;
}
.form-horizontal #order_lines .controls {
    margin-left:0;
}

th.fixed,
td.fixed {white-space: nowrap;}

.hardware-cell {width:40%;}
#required-hardwares {width:auto;}
#required-hardwares td.top { border:0; padding:0 0 4px 0; }


#required-hardwares td.req-hardware { width:110px; }
#required-hardwares td.hardware-qty { width:100px; }
#required-hardwares td.hardware-remove { width:50px; }

.condensed-form textarea.text { height:50px;}

.comment-container .alert {background-color: #fff; color:#000; border-color: #999;}
.comment-container {border-top:1px dotted black; padding:10px 0;}
.comment-container .comment-details div {float:left; display: block; width:100%; }
.comment-details .username {color:#ff0000; font-weight: bold;}
.comment-details .message {margin:10px 0 0 0;}
.comment-container .actions .delete {color:#ff0000;}
.comment-container .actions .delete:hover {color:#000; text-decoration: none;}

td.small {width:100px;}
.sample-form textarea.text {height: 30px;}
.sample-form .sample-lines .control-group {margin-bottom:8px;}
.sample-form .sample-lines .controls {margin-left:0;}

textarea.text.short { height: 30px;}

.category {background-color: #DDD;}

.modal {max-height:720px !important; top:300px !important;}
.modal.fade.in {top:300px !important;}


.scroll {
    height: 500px;
    overflow: auto;
}


