/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require custom-theme/jquery-ui-1.8.16.custom
 *= require_tree .
 */


table th.actions,
table td.actions {
    text-align: right;
    width:20%;
}

.nm {margin:0 !important;}
.mxn {margin:0 -10px !important;}
.mxna {margin:-11px !important;}
.mts { margin-top: 5px !important; }
.mtx { margin-top: 10px !important; }
.mtxx { margin-top: 20px !important; }
.mls { margin-left: 5px !important; }
.mlx { margin-left: 10px !important; }
.mlxx { margin-left: 20px !important; }
.mlxxx { margin-left: 30px !important; }
.mlxc { margin-left: 90px !important; }
.mlxx { margin-left: 20px !important; }
.mbs { margin-bottom: 5px !important; }
.mbx { margin-bottom: 10px !important; }
.mbxx { margin-bottom: 20px !important; }
.mbxxx { margin-bottom: 30px !important; }
.mrs { margin-right: 5px !important; }
.mrx { margin-right: 10px !important; }
.mrxx { margin-right: 20px !important; }
.nmt { margin-top: 0 !important; }
.nml { margin-left: 0 !important; }
.nmb { margin-bottom: 0 !important; }
.nmr { margin-right: 0 !important; }
.ml30 { margin-left:30px !important;}
.ml15 { margin-left:15px !important;}
.ml175 { margin-left:175px !important;}
.ml335 { margin-left:335px !important;}
.ml345 { margin-left:345px !important;}
.stretch {padding-bottom:1000px !important;margin-bottom:-1000px !important;}
.mtbx { margin: 10px 0 !important }
.m0a { margin: 0 auto !important; }

.px  {padding:10px !important;}
.pxx  {padding:20px !important;}
.plx {padding-left:10px !important;}
.plxx {padding-left:20px !important;}
.prx {padding-right:10px !important;}
.prxx {padding-right:20px !important;}
.ptx {padding-top:10px !important;}
.pbx {padding-bottom:10px !important;}
.pbxx {padding-bottom:20px !important;}

.ps  {padding:5px !important;}
.np  {padding:0px !important;}
.pls {padding-left:5px !important;}
.prs {padding-right:5px !important;}
.pts {padding-top:5px !important;}
.pbs {padding-bottom:5px !important;}
.npt { padding-top: 0 !important; }
.npb { padding-bottom: 0 !important; }
.npl { padding-left: 0 !important; }


#modal-container form {margin-bottom:0px;}
.modal .spinner {
    padding:20px 140px;
    margin: 20px 0 0 0;
}

.table td.order-line-info {
    border-top:0;
}

.table tr td.status-cell {color: #fff;}
.table tr.completed td.status-cell { background-color: #51A351; }
.table tr.in-progress td.status-cell { background-color: #2F96B4; }
.table tr.pending td.status-cell { background-color: #F89406; }

table .order-line-info .span7 {float:left;}
table .order-line-info .span4 {float:right;}

.order-search .control-group
{
    float:left;
}
.part-hardware .control-group .controls,
.order-search .control-group .controls {
    margin-left:0;
    margin-right: 5px;
    width:155px;
}
.part-hardware .control-group .controls select,
.order-search .control-group .controls select {width: 155px;}