// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.neg-margin{
  float:left;
  margin-top: -35px;
  margin-left: 225px;
}
