// Set the correct sprite paths
$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');

@import "bootstrap";

body {
  padding-top: 60px;
  padding-bottom: 20px;
}

@import "bootstrap-responsive";
@import 'font-awesome';


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

textarea.text {
  height: 100px;
}
