<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Cool Innovations</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% @stations.each do |station| %>
              <li <% if params[:id] == station.id.to_s %>class="active"<% end%>><%= link_to station.name, index_floor_stations_path+"?id="+station.id.to_s %></li>
          <% end %>
          <li><%= link_to 'Logout', logout_url %></li>
        </ul>
      </div>
    </div>
  </div>
</div>





