<h1>Utility Bar</h1>

<%= link_to 'New Client', "/clients/new?no_layout=1", :class => 'btn pull-left modal-trigger'%>
<%= link_to 'New Process', "/part_processes/new?no_layout=1", :class => 'btn pull-left modal-trigger mlx'%>
<%= link_to 'New Hardware', "/hardwares/new?no_layout=1", :class => 'btn pull-left modal-trigger mtx'%>